body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20 auto;
    width: 300px;
}

.header {
    margin-bottom: 10px;
}

.header h1 {
    font-size: 25px;
    display: inline;
}

.nav a {
    font-size: 14px;
}

form {
    border: 3px solid #f1f1f1;
}

input {
    font-size: 16px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

input[type=submit] {
    margin-top: 10px;
}

textarea {
    font-size: 16px;
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 8px 0;
    resize: none;
}

.button {
    margin: 10px 0 0 0;
    background-color: #65A959;
    border: 1px solid green;
    color: white;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.button:hover {
    background-color: #538C4A;
}

.container {
    padding: 16px;
}

.details {
    border: 3px solid #f1f1f1;
}

.details .value {
    color: gray;
    width: 100%;
    padding: 5px 0;
    margin: 8px 0;
    border-bottom: 1px dashed #ccc;
    display: inline-block;
    box-sizing: border-box;
}

.help {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
}